* {
    box-sizing: content-box;
}

body {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "category title"
    "images box"
    "footer footer"; 
}

.header {
    grid-area: title;
    text-align: center;
}

.category {
    grid-area: category;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    text-align: center;
} 

/* #fruit {
    display: flex;
    flex-direction: column;
    grid-area: fruit;
}

#veg {
    display: flex;
    flex-direction: column;
    grid-area: veg;
}

#snack {
    display: flex;
    flex-direction: column;
    grid-area: snack;
}

#dishes {
    display: flex;
    flex-direction: column;
    grid-area: dishes;
} */

.images {
    grid-area: images;
}

.box {
    grid-area: box;
}

.footer {
    grid-area: footer;
} 
