* {
    box-sizing: content-box;
}

body {
    display: grid;
    height: 100vh;
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: 50px 1fr 5fr;
    grid-template-areas:
    "header"
    "image"
    "box";
}

.header {
    grid-area: header;
    margin-top: 0px;
    
}

.image {
    grid-area: image;
    max-width: 100%;
    height: auto;
}

.image img {
    display: none; 
}

/* .one.empty {
    display: block;
} */

.box {
    grid-area: box;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

p {
    font-size: 18px;
}

#answer {
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
}

#message {
    font-weight: bold;
    color: maroon;
    font-size: 20px;
    margin: 0px;
}

#category {
    font-weight: bold;
    color: #191970;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 0px;
}

#letterBox {
    margin: 0 auto;

}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
}

button:hover {
    background-color: white;
    color: black;
}